# Supabase Germanium3AS - vmcdlygpprywurypzlmj
EXPO_PUBLIC_SUPABASE_URL=https://vmcdlygpprywurypzlmj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_ANON_KEY_HERE
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY_HERE
DATABASE_URL=postgresql://postgres:YOUR_DB_PASS@db.vmcdlygpprywurypzlmj.supabase.co:5432/postgres

# Expo
EXPO_TOKEN=YOUR_EXPO_TOKEN_HERE

# Telegram Support
SUPPORT_COURS_URL=https://t.me/roqaya_2328
SUPPORT_RECLAMATION_URL=https://t.me/walidvisa

# GitHub
GITHUB_TOKEN=YOUR_GITHUB_TOKEN_HERE
